[app]
JwtSecret = jwt_secret
SessionSecret = session_secret
SessionName = layout_be
PrefixUrl = http://127.0.0.1:8000
RuntimeRootPath = ./runtime/

[log]
LogSavePath = logs/
LogSaveName = log
LogFileExt = txt
TimeFormat = 20060102

[server]
RunMode = debug
HttpPort = :8000
ReadTimeout = 60
WriteTimeout = 60

[database]
Type = mysql
User = root
Password = 
Host = 127.0.0.1:3306
Name = layout
TablePrefix = layout_

[redis]
Host = 127.0.0.1:6379
Password =
MaxIdle = 30
MaxActive = 30
IdleTimeout = 200
